@import 'nullstyle.scss';

body {
    background-color: #eee; 
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}